.button {
  background: transparent;
  border: 1px solid #171272;
  padding: 5px;
  cursor: pointer;

  transition: all 0.1s ease-in;
}

.button:hover {
  background: #171272;
  color: #ffffff;
}

.button-small {
  padding: 5px;
}

.button-large {
  padding: 10px;
}

.button:hover > svg > g {
  fill: #ffffff;
  stroke: #ffffff;
}

.list-header-button {
  font-size: 100%;
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  background: transparent;
}